.blog__review{
    width: 64%;
    margin: 0 auto;
}

.blog-nav__list{
    font-size: 14px;
    display: flex;
    margin-bottom: 32px;
    color: #545353;
}

.blog__nav__list__item{
    &:last-child{
        &::after{
            content: '';
        }
    }
    &::after{
        content: '/';
        margin-left: 3px;
        margin-right: 3px;
    }
}

.blog__title{
    text-align: center;
    font-size: 36px;
    color: #545353;
    margin-bottom: 16px;
}

.blog__date{
    margin-bottom: 6px;
}

.blog__date__block{
    display: flex;
}

.date__item{
    margin-right: 3px;
    font-size: 12px;
    color: #C4C4C4;
    line-height: 17px;
}

.blog__author{
    color: #545353;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 23px;
    & span{
        color: #545353;
        font-size: 14px;
        line-height: 19px;
    }
}

.blog__text{
    font-size: 20px;
    line-height: 40px;
    color: #545353;
    margin: 0 auto 40px auto;
    padding: 0 40px;
    
    & span{
        margin-bottom: 60px;
    }
}

.blog__img{
    max-width: 100%;
}

.blog__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog__list__item{
    width: 33%;
    margin-bottom: 114px;
    height: 507px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover{
        .last__post__button{
            display: block;
        }
    }
}

.blog__subtitle{
    margin-bottom: 16px;
    padding: 0 40px;
    color: #545353;
    line-height: 40px;
    font-size: 24px;
}

.blog__more__subtitle{
    text-align: center;
    line-height: 25px;
    font-size: 18px;
}

.blog__more__text{
    color: #545353;
    line-height: 25px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 16px;
}

.blog-pic{
    margin-bottom: 24px;
}

.blog__more__title{
    font-size: 24px;
    line-height: 33px;
    color: #545353;
    margin-bottom: 24px;
}

.blog__avatar{
    margin-bottom: 16px;
    max-width: 100%;
}

.blog__more__date{
    display: flex;
    margin-bottom: 16px;
    padding: 0 10px;
    
}