.contacts-content{
    display: flex;
    margin-bottom: 60px;
}

.contacts__massage__wrapper{
    width: 72%;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
    padding-right: 38px;
    padding-bottom: 32px;
    box-sizing: border-box;
}

.contacts__massage__title{
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    padding: 16px 0;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 40px;
}

.contacts__massage__form{
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-form-row{
    width: 100;
    display: flex;
    margin-bottom: 24px;
    width: 100%;
}

.contacts-form__input{
    width: 100%;
    margin-right: 40px;
    box-sizing: border-box;
    padding: 10px 16px;
    background: #EFEFEF;
    border: none;
    &::placeholder{
        color: #C4C4C4;
    }
    &:last-child{
        margin-right: 0;
    }
}

#contacts-form__area{
    flex: 1;
    height: 120px;
    background: #EFEFEF;
    padding: 10px 16px;
    border: none;
    &::placeholder{
        color: #C4C4C4;
        font-size: 16px;
    }
}

.contacts-form__button{
    width: 332px;
    height: 49px;
    background: #E0C0C3;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 33px;
}

.contacts-form__text{
    font-size: 14px;
    line-height: 19px;
    color: #C4C4C4;
}

.contacts__info{
    flex: 1;
    background: #E0C0C3;
    opacity: 0.5;
    padding: 60px 32px;
    color: #FFFFFF;

}

.contacts__info__title{
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 50px;
}

.contacts__info__list__item{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.contacts__img{
    margin-right: 16px;
}